@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-md-12">
        <p style="text-align: center;"><span style="font-size: 24px;">This is test Pavlo&#39;s project</span></p>
        <p><span style="font-size: 18px;">&nbsp;To create it was used:</span></p>
        <ul style="margin-left: 20px ;">
            <li><span style='font-size: 18px; font-family: "Times New Roman", Times, serif;'>Latest version of .net core</span></li>
            <li><span style="font-family: 'Times New Roman', Times, serif;"><span style="font-size: 18px;">DI framework</span></span></li>
            <li><span style="font-family: 'Times New Roman', Times, serif;"><span style="font-size: 18px;">GIT source control</span></span></li>
            <li><span style='font-size: 18px; font-family: "Times New Roman", Times, serif;'>Used 3 branches to develop the application</span></li>
            <li><span style="font-family: 'Times New Roman', Times, serif;"><span style="font-size: 18px;">Layered architesture (4 different layers)</span></span></li>
            <li><span style="font-family: 'Times New Roman', Times, serif;"><span style="font-size: 18px;">Automapper</span></span></li>
            <li><span style="font-family: 'Times New Roman', Times, serif;"><span style="font-size: 18px;">Entity framework code first</span></span></li>
            <li><span style="font-family: 'Times New Roman', Times, serif;"><span style="font-size: 18px;">One-to-Many relational database design</span></span></li>
            <li><span style='font-size: 18px; font-family: "Times New Roman", Times, serif;'>MSSQL server</span></li>
        </ul>

        <p><span style="font-size: 18px;">&nbsp;Plans to add:</span></p>
        <ul style="margin-left: 20px ;">
            <li><span style='font-size: 18px; font-family: "Times New Roman", Times, serif;'>User identity with roles</span></li>
            <li><span style='font-size: 18px; font-family: "Times New Roman", Times, serif;'>Error handling</span></li>
            <li><span style='font-size: 18px; font-family: "Times New Roman", Times, serif;'>Intermediate layer of services in presentation layer</span></li>
            
        </ul>



    </div>